/* Main CSS file */

h3 {
    margin: 0;
    padding: 0;
}

.user-form > label {
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 0;
}

.user-form > input {
    display: block;
    margin-top: 2px;
    margin-bottom: 5px;
    padding: 0;
    width: 100%;
}

.user-form > input.submit {
    display: block;
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 2px;
    width: 100%;
}

#account {
    margin-top: 70px;
}

main, footer {
  margin-top:40px;
}

.v-center {
	height: 90%;
	margin-bottom: 1%;
   	margin-top: 1%;
}

.navbar-fixed-top{
	margin-top: 0px;
}

.no-top-margin {
  margin-top:0;
}

.no-margin {
  margin:0;
}

.controltext{
	width:550px;
}
.controlab{
	margin-left:10px;
	margin-right: 10px; 
}

.tiny-text{
	color: #CCC;
	font-size: 12px;
}

.page {
  display:none;
}

.scale-brand-img {
	height: 50px;
	margin-left:1px;
}

.no-padding {
	padding: 0 !important;
}

.top-pad-brand-name {
	padding-top:15px;
	padding-left:15px;
	display:inline-block;
}

.logout-btn {
	margin-top:6px;
}

.btn-plus{
	width:500px;
	margin-left:300px;

}


#additemlist {
  display:none;    
}

.btn-remove{
  padding-top:50px;
  padding-right:50px;
}

#listlabel{
  margin-top: 30px;
  margin-left: 10px;
}


.kate{
  padding-left: 20px;
}

/* Force orientation lock to landscape on phones */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.navbar-header {
 float: left !important;
}

.onClickToItems{
  
}

h3.navnamn{
 margin-left:10px;

}

