/* Main CSS file */

.bed-img {
  height:200px !important;
  /*width:100%;*/
}

footer h4, footer p {
  text-align:center;
}

main, footer {
  margin-top:40px;
}

.no-top-margin {
  margin-top:0;
}

footer h4 {
  color:white;
}

.page {
  display:none;
}

.scale-brand-img {
	height: 50px;
	margin-left:1px;
}

.no-padding {
	padding: 0 !important;
}

.top-pad-brand-name {
	padding-top:15px;
	padding-left:15px;
	display:inline-block;
}

.logout-btn {
	margin-top:6px;
}