<!-- Register, login and delete -->
<div class="page container" id="account">
    <div class="row">
        <div class="col-xs-3 col-sm-4 col-lg-5"></div>

        <div class="col-xs-6 col-sm-4 col-lg-2 page well" id="register">
            <h3>Registrering</h3>
            <form class="form-group user-form" name="register">
                <label for="name">Användarnamn:</label>
                <input type="text" name="name" id="name">

                <label for="pass">Lösenord:</label>
                <input type="password" name="pass" id="pass">

                <label for="pass">Bekräfta lösenord:</label>
                <input type="password" name="pass" id="pass">

                <input type="submit" name="submit" value="Registrera" class="submit">
                
                <button name="submit" class="submit">Logga in</button>

            </form>
        </div>

        <div class="col-xs-6 col-sm-4 col-lg-2 page well" id="login">
            <h3>Logga in</h3>
            <p></p>

            <form class="form-group user-form" id="login">
                <label for="name">Användarnamn:</label>
                <input type="text" name="name" id="name">

                <label for="pass">Lösenord:</label>
                <input type="password" name="pass" id="pass">

                <input type="submit" name="submit" value="Logga in" class="submit">
                <p></p>
                <!--<button name="submit" class="submit">Registerera</button>-->
                
            </form>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 page well" id="delete">
            <h3>Tabort kontot</h3>
            <form class="form-group user-form" id="delete">
                <label for="name">Användarnamn:</label>
                <input type="text" name="name" id="name">

                <label for="pass">Lösenord:</label>
                <input type="password" name="pass" id="pass">

                <input type="submit" name="submit" value="Logga in" class="submit">
            </form>
        </div>
    </div>
</div>
