<title>Shopshop</title>
<!--    Meta page settings    -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!--    Bootstrap, jQuery and other assets-->
<script src="http://www.google.com/jsapi" ></script>

<script src="lib/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
<script src="lib/bootstrap/js/bootstrap.min.js"></script>

<!--    CSS document link    -->
<link rel="stylesheet" type="text/css" href="css/main.css" >

<!--    JS document link    -->

