<title>Shopshop</title>
<!--    Meta page settings    -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!--    Bootstrap, jQuery and other assets-->
<script src="lib/jquery.js"></script>
<!--<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">-->
<link rel="stylesheet" href="lib/bootstrap/css/spacelab-theme.css">
<script src="lib/bootstrap/js/bootstrap.min.js"></script>

<!--    CSS document link    -->
<link rel="stylesheet" type="text/css" href="css/main.css" >

<!--    JS document link    -->
<script src="js/ajax.js" ></script>
<script src="js/cookies.js" ></script>
<script src="js/page.js" ></script>
<script src="js/loadListToUser.js" ></script>
<script src="js/click.js" ></script>
