<div class="container page" id="itemlist">
    <div class="row">
        <div class="col-xs-1 col-md-2"></div>
        <div class="col-xs-10 col-md-8">
            <h2 id="name"></h2>
        </div>
    </div>

    <div class="row">

    </div>
</div>
