<div class="container page" id="itemlist">

	<div class="row navbar navbar-inverse" style="margin-top: 30px;">
		

		<div class="col-xs-2 v-center">
			<h3 class="row navnamn pull-left">Nman</h3>
		</div>

		<div class="col-xs-2 v-center">
			<h3 class="row navnmn1 pull-left">Antal</h3>
		</div>

		<div class="col-xs-3 v-center">
			<h3 class="row navnmn2 pull-left">Kategori</h3>
		</div>

		<div class="col-xs-2 v-center">
			<h3 class="row navnmn3 pull-left">Köpt</h3>
		</div>

		
	</div>

	<div class="row">	
			<div class="col-xs-2">
				<input type="text" class="form-control" id="usr" placeholder="Namn">
			</div>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="usr" placeholder="st">
			</div>
			<div class="col-xs-3">
				<select class="form-control " id="kate">
					<option id="default">- kategori -</option>
				</select>
			</div>
			<div class="col-xs-2">
				<input type="add" class="form-control" id="usr" placeholder=" Lägg till">
			</div>
			<div class="col-xs-1">
				<button type="button" class="btn btn-default btn-ok" id="btn-ok11">
					<span class="glyphicon glyphicon-ok"></span>   
				</button>
			
			</div>
			<div class="col-xs-1">
				<button type="button" class="btn btn-default btn-pen" id="btn-pen1">
     				<span class="glyphicon glyphicon-pencil"></span>
     			</button>
			</div>

			<div class="col-xs-1">
				<button type="button" class="btn btn-default btn-trash" id="btn-trash1">
      				<span class="glyphicon glyphicon-trash"></span> 
      			</button>
			</div>
	</div>
</div>

    <!--<div class="row">
        <div class="col-xs-1 col-md-2"></div>
        <div class="col-xs-10 col-md-8">
            <h2 id="name"></h2>
        </div>-->
    </div>


    </div>
</div>

