
<div class="page container" id="lists">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1>Listor</h1>
		</div>
	</div>

	<div class="row navbar navbar-inverse">
		<div class="col-xs-2 v-center">
			<h3 class="no-margin pull-left">Namn</h3>
			<p class="tiny-text pull-right">abc</p>
		</div>

		<div class="col-xs-1"></div>

		<div class="col-xs-4 pull-right v-center">
			<form class="" name="cat_sort" id="cat_sort">
				<select class="form-control formcontrol" name="select_cat" id="categories">
					<option name="def" id="default">- Välj kategori -</option>
				</select>
			</form>
		</div>

		<div class="col-xs-1"></div>
	</div>

	<div id="vl"></div>
	
	<div class="row" id="lists-container">
	    <div class="row navbar navbar-default ">
				<label for="listName" class ="control-label controlab" >Listans Namn:</label>
				<input type="text" name="listName" class = "control-text controltext v-center">
				<input type="submit" class = "control-input v-center " value="Lägg till">
		</div>

		<button type="button" class="btn btn-default btn-sm" id = "btnplus">
			<span class="glyphicon glyphicon-plus "></span>
		</button>
	</div>
</div>


