<!DOCTYPE html>
<html>
	<head>
	    <title>GroceryShopList</title>
		<!--% include ./assets/partials/head %-->
		<meta charset="utf8">
		<!--<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="bootstrap/css/spacelab-theme.css">
        <!-- My own CSS -->
        <link rel="stylesheet" href="assets/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!--    JS document link    -->
		<script src="js/page.js" ></script>
		<script src="js/loadListToUser.js" ></script>
	</head>
	

	<body>
	   <header>
          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
              	<a class="navbar-brand no-padding" href="#grocerylist"><img src="img/grocery_shop_icon.jpg" align="left" class="scale-brand-img"><span class="top-pad-brand-name">GroceryShopList</span></a>
              </div>
              <button type="button" class="btn btn-danger pull-right logout-btn">Logga ut</button>
             </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>

		<main>
			<!--% include ./assets/partials/home %-->
			<!--div class="form-group">
             <label for="usr">Namn:</label>
  <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
  <label for="pwd">Password:</label>
  <input type="password" class="form-control" id="pwd">
</div-->
    <div class="" id="lists">
	<div class="form-group">
		<select class="form-control" id="categories">
			<option id="default">- Välj kategori -</option>
			<label for="usr">Namn:</label>
			<input type="text" class="form-control" id="usr">
		</select>
	</div>
<div/>




		
		</main>
		

	
	</body>
</html>