<!DOCTYPE html>
<html>
	<head>
		<% include ./assets/partials/head %>
	</head>

	<body>


		<main>
			<% include ./assets/partials/lists %>

			<% include ./assets/partials/itemlist %>

			<% include ./assets/partials/account %>
		</main>


	</body>
</html>
