<!DOCTYPE html>
<html>
	<head>
	    <title>GroceryShopList</title>
		<!--% include ./assets/partials/head %-->
		<meta charset="utf8">
		<!--<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">-->
        <!--<link rel="stylesheet" href="bootstrap/css/spacelab-theme.css">-->
        <!--<link href='//maxcdn.bootstrapcdn.com/font-awsome/4.1.0/css/font-awsome.min.css" rel="stylesheet">
        < My own CSS -->
        <link rel="stylesheet" href="assets/css/itemlists.css">

        

	</head>
	

	<body>
	   <header class="container">
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">GroceryShopList</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!--li class="active"><a href="#start">Start<span class="sr-only">(current)</span></a></li>
            <li><a href="#produkter">Produkter</a></li>
            <li><a href="#om-oss">Om oss</a></li-->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>

		

		<main>






















        
    <!--<div class= 'container'>
        <div class= "row">
          <div class="panel panel-primary filterable">
            <div class="panel-heading">
              <h1 class="panel-title">Nanm</h1>
              <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                <input type="text" value="" class="form-control" name="custom_name" placeholder="">
                </span>
    </div>
    
    </div>
  
 </div>


		
		</main>
		

	
	</body>
</html>